/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2e2200;
	--sl-color-accent: #826600;
	--sl-color-accent-high: #e0c684;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #efeee7;
	--sl-color-gray-2: #c4c2ba;
	--sl-color-gray-3: #8f8c7d;
	--sl-color-gray-4: #5b584a;
	--sl-color-gray-5: #3b382b;
	--sl-color-gray-6: #2a271a;
	--sl-color-black: #1a1812;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #e8d5a4;
	--sl-color-accent: #846800;
	--sl-color-accent-high: #3f3000;
	--sl-color-white: #1a1812;
	--sl-color-gray-1: #2a271a;
	--sl-color-gray-2: #3b382b;
	--sl-color-gray-3: #5b584a;
	--sl-color-gray-4: #8f8c7d;
	--sl-color-gray-5: #c4c2ba;
	--sl-color-gray-6: #efeee7;
	--sl-color-gray-7: #f7f6f3;
	--sl-color-black: #ffffff;
}