---

---

<div class="flex place-content-center">
  <ol class="m-0 list-none rounded border-2 border-orange-500 p-4 font-mono">
    <li>
      <span class="select-none">$</span>
      <span class="font-bold text-yellow-600 dark:text-yellow-400">bumper</span>
      init
    </li>
    <li>
      <span class="select-none">$</span>
      <span class="font-bold text-yellow-600 dark:text-yellow-400">bumper</span>
      create my-project
    </li>
    <li>
      <span class="select-none">$</span>
      <span class="font-bold text-yellow-600 dark:text-yellow-400">bumper</span>
      bump
    </li>
    <li class="mb-4">
      <span class="select-none">$</span>
      <span class="font-bold text-yellow-600 dark:text-yellow-400">bumper</span>
      commit
    </li>
    <li>
      <span class="select-none">$</span>
      <span class="text-cyan-600 dark:text-cyan-400">cat</span> CHANGELOG.md
    </li>
    <li>
      <span class="select-none">$</span>
      <span class="text-cyan-600 dark:text-cyan-400">echo</span> "Now we're cooking!"
    </li>
  </ol>
</div>
